@model IEnumerable<TEST02.Models.SanPham>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NhaCungCap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaSanPham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenSanPham)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NhaCungCap.MaNhaCungCap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSanPham)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaNhaCungCap">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaNhaCungCap">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaNhaCungCap">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
